*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg{
    background: url('./images/cristina-anne-costello-NDprz_Y90UM-unsplash.jpg')
    no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    filter: blur(0px);
}

.loading-text{
    font-size: 50px;
    color:#fff;
}